<!DOCTYPE html>
<html class="h-full bg-gray-100">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta name="theme-color" content="#74dd54">
    <meta name="description" content="Safe and secure access to your SmartBCH from any Ledger (Nano S / X / Pro) device.">

    <title>Smart Ledger</title>

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- Open graph -->
    <meta property="og:url" content="https://smartledger.cash" />
    <meta property="og:title" content="Smartstarter">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Safe and secure access to your SmartBCH from any Ledger (Nano S / X / Pro) device.">
    <meta property="og:image" content="https://smartledger.cash/poster.jpg?1649563958">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Smartstarter">
    <meta name="twitter:description" content="Safe and secure access to your SmartBCH from any Ledger (Nano S / X / Pro) device.">
    <meta name="twitter:image" content="https://smartledger.cash/poster.jpg?1649563958">
</head>

<body class="h-full">

<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app"></div>
<!-- built files will be auto injected -->

</body>
</html>
