<template>
    <main class="min-h-full">

        <Banner />

        <section class="py-10">

            <Header />

            <div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-3">
                <div class="space-y-6 lg:col-start-1 lg:col-span-2">

                    <AccountDetails />

                    <MyNotes />
                </div>

                <MyTransactions />
            </div>
        </section>

        <Footer />
    </main>
</template>

<script>
/* Import components. */
import AccountDetails from '@/components/AccountDetails'
import Banner from '@/components/Banner'
import Footer from '@/components/Footer'
import Header from '@/components/Header'
import MyNotes from '@/components/MyNotes'
import MyTransactions from '@/components/MyTransactions'

export default {
    components: {
        AccountDetails,
        Banner,
        Footer,
        Header,
        MyNotes,
        MyTransactions,
    },
    data: () => {
        return {
            ledgerAddress: null,
        }
    },
    computed: {
        //
    },
    methods: {
        //
    },
    created: async function () {
        //
    },
    mounted: function () {
        //
    },
}
</script>

<style scoped>
/*  */
</style>
