<template>
    <main class="bg-white shadow">

        <div class="max-w-7xl mx-auto px-4 sm:px-6">
            <div class="border-t border-gray-200 py-3">
                <nav class="flex" aria-label="Breadcrumb">
                    <div class="hidden sm:block">
                        <ol role="list" class="flex items-center space-x-4">
                            <li>
                                <div>
                                    <router-link to="/" class="text-gray-400 hover:text-gray-500">
                                        <!-- Heroicon name: solid/home -->
                                        <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path
                                                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
                                            />
                                        </svg>
                                        <span class="sr-only">Home</span>
                                    </router-link>
                                </div>
                            </li>

                            <li>
                                <div class="flex items-center">
                                    <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                        <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                                    </svg>

                                    <a href="https://docs.smartledger.cash" target="_blank" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">
                                        Open Docs
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="flex items-center">
                                    <svg class="flex-shrink-0 h-5 w-5 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                                        <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                                    </svg>

                                    <a href="https://gitlab.com/bchplease/smart-ledger" target="_blank" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">
                                        View (GitLab) Source
                                    </a>
                                </div>
                            </li>

                        </ol>
                    </div>
                </nav>
            </div>
        </div>
    </main>
</template>

<script>
/* Import components. */
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
    components: {
        // HelloWorld
    },
    data: () => {
        return {
            //
        }
    },
    created: function () {
        //
    },
    mounted: function () {
        //
    },
}
</script>
