<template>
    <main class="max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
        <div class="flex items-center space-x-5">
            <div class="flex-shrink-0">
                <div class="relative">
                    <img class="h-16 w-16 rounded-full" :src="avatar" alt="" />
                    <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
                </div>
            </div>

            <div>
                <h1 class="sm:hidden text-2xl font-bold text-gray-900">
                    0xfAe5B6 ... 3Edd4c
                </h1>
                <h1 class="hidden sm:flex md:hidden text-2xl font-bold text-gray-900">
                    0xfAe5B661ABF0Cb ... B67dBb1C3Edd4c
                </h1>
                <h1 class="hidden md:flex text-2xl font-bold text-gray-900">
                    0xfAe5B661ABF0Cb7AD2a15B67dBb1B1DC1C3Edd4c
                </h1>

                <p class="text-sm font-medium text-gray-500">
                    Connected to Ledger Wallet
                </p>

                <div v-if="ledgerAddress" class="m-3 p-3">
                    Ledger Address: {{ledgerAddress}}
                </div>
            </div>
        </div>

        <div class="mt-6 flex flex-col-reverse space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
            <div class="flex flex-col space-y-2">
                <button
                    type="button"
                    class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-blue-500 bg-green-300 hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500"
                >
                    Send
                </button>

                <button
                    type="button"
                    class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-blue-800 bg-red-300 hover:bg-red-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500"
                >
                    Receive
                </button>
            </div>

            <div class="flex flex-col space-y-2">
                <button
                    @click="connectLedger"
                    type="button"
                    class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500"
                >
                    Connect Ledger
                </button>

                <button
                    type="button"
                    class="inline-flex items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-blue-800 bg-yellow-300 hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500"
                >
                    Open Block Explorer
                </button>
            </div>
        </div>
    </main>
</template>

<script>
/* Import modules. */
import TransportWebUSB from '@ledgerhq/hw-transport-webusb'
import TransportWebHID from '@ledgerhq/hw-transport-webhid'
// import LedgerBtc from '@ledgerhq/hw-app-btc'
import LedgerEth from '@ledgerhq/hw-app-eth'
import ledgerService from '@ledgerhq/hw-app-eth/lib/services/ledger'

/* Import modules. */
import makeBlockie from 'ethereum-blockies-base64'

export default {
    components: {
        // HelloWorld
    },
    data: () => {
        return {
            //
        }
    },
    computed: {
        avatar() {
            if (this.$store.state.profileAvatar) {
                return this.$store.state.profileAvatar
            } else if (this.sBchAddress) {
                return makeBlockie(this.sBchAddress)
            } else {
                return makeBlockie('anonymous')
            }
        },

    },
    methods: {
        async connectLedger() {
            console.log('TransportWebUSB (isSupported):', await TransportWebUSB.isSupported())
            console.log('TransportWebUSB (list):', await TransportWebUSB.list())

            console.log('TransportWebHID (isSupported):', await TransportWebHID.isSupported())
            console.log('TransportWebHID (list):', await TransportWebHID.list())

            // const getBtcAddress = async () => {
            //     const transport = await LedgerTransport
            //         .create()
            //         .catch(err => console.error(err))
            //
            //     const btc = new LedgerBtc(transport)
            //
            //     /* Set puprose. */
            //     const purpose = 44
            //
            //     /* Set coin type. */
            //     // const coinType = 0 // Legacy Bitcoin (BTC)
            //     const coinType = 145 // Bitcoin Cash (BCH)
            //
            //     /* Set account. */
            //     const account = 0
            //
            //     /* Set (has) change. */
            //     const change = 0
            //
            //     /* Set (address) index. */
            //     const index = 0
            //
            //     const result = await btc
            //         .getWalletPublicKey(`${purpose}'/${coinType}'/${account}'/${change}/${index}`)
            //         .catch(err => console.error(err))
            //
            //     /* Return address. */
            //     return result.bitcoinAddress
            // }

            const getEthAddress = async () => {
                const transport = await TransportWebHID
                    .create()
                    .catch(err => console.error(err))
                // console.log('TRANSPORT', transport)

                const eth = new LedgerEth(transport)
                // console.log('ETH', eth)

                /* Set puprose. */
                const purpose = 44

                /* Set coin type. */
                const coinType = 60 // Ethereum / SmartBCH

                /* Set account. */
                const account = 0

                /* Set (has) change. */
                const change = 0

                /* Set (address) index. */
                const index = 0

                // const result = await eth
                //     // .getWalletPublicKey(`${purpose}'/${coinType}'/${account}'/${change}/${index}`)
                //     .eth2GetPublicKey(`${purpose}'/${coinType}'/${account}'/${change}/${index}`)
                //     .catch(err => console.error(err))
                // console.log('RESULT', result)

                const address = await eth
                    .getAddress(`${purpose}'/${coinType}'/${account}'/${change}/${index}`)
                    .catch(err => console.error(err))
                console.log('ADDRESS', address)

                const tx = 'e8018504e3b292008252089428ee52a8f3d6e5d15f8b131996950d7f296c7952872bd72a2487400080'; // raw tx to sign
                const resolution = await ledgerService
                    .resolveTransaction(tx)
                const result2 = await eth
                    .signTransaction(
                        `${purpose}'/${coinType}'/${account}'/${change}/${index}`,
                        tx,
                        resolution
                    ).catch(err => console.error(err))
                console.log('SIGN TX', result2)

                /* Return address. */
                return address
            }

            /* Request Bitcoin address. */
            // getBtcAddress()
            //     .then(_address => {
            //         console.log('BITCOIN ADDRESS', _address)
            //         this.ledgerAddress = _address
            //     })

            /* Request Ethereum address. */
            getEthAddress()
                .then(_address => {
                    console.log('ETHEREUM ADDRESS', _address)
                    // this.ledgerAddress = _address
                })

        },

    },
    created: function () {
        //
    },
    mounted: function () {
        //
    },
}
</script>
